<h2>Cadastrar Cliente</h2>

<form (ngSubmit)="submit()" [formGroup]="clienteForm" #formDir="ngForm" class="row g-3">
  <div class="col-md-8 form-floating mb-3">
    <input type="text" class="form-control was-validated" formControlName="nome" required placeholder="João Ninguém">
    <label for="nome" class="form-label aria-required"><span class="text-danger">*</span>Nome</label>

    <div *ngIf="nome.invalid && formDir.submitted" class="alert alert-danger">
      <p>O campo é obrigatório</p>
    </div>
  </div>

  <div class="col-md-4 form-floating mb-3">
    <input type="text" class="form-control" formControlName="cpf" required placeholder="###########">
    <label for="cpf" class="form-label"><span class="text-danger">*</span>CPF <span
        class="fs-6 fst-italic fw-lighter">somente números</span></label>

    <div *ngIf="cpf.invalid && formDir.submitted" class="alert alert-danger">
      <p *ngIf="cpf.errors?.['required']">O campo é obrigatório</p>
      <p *ngIf="cpf.errors?.['pattern']">O campo deve ter 11 dígitos, contendo somente números</p>
    </div>
  </div>

  <div class="col-md-8 form-floating mb-3 ">
    <input type="text" class="form-control" formControlName="logradouro" required placeholder="Rua dos Bobos">
    <label for="logradouro" class="form-label"><span class="text-danger">*</span>Logradouro</label>

    <div *ngIf="logradouro.invalid && formDir.submitted" class="alert alert-danger">
      <p>O campo é obrigatório</p>
    </div>
  </div>

  <div class="col-md-4 form-floating mb-3">
    <input type="text" class="form-control" formControlName="numero" required placeholder="0A">
    <label for="numero" class="form-label"><span class="text-danger">*</span>Número</label>

    <div *ngIf="numero.invalid && formDir.submitted" class="alert alert-danger">
      <p>O campo é obrigatório</p>
    </div>
  </div>

  <div class="col-md-6 form-floating mb-3">
    <input type="text" class="form-control" formControlName="complemento" placeholder="Apartamento 00, Bloco Z, fundos">
    <label for="complemento" class="form-label">Complemento</label>
  </div>

  <div class="col-md-6 form-floating mb-3">
    <input type="text" class="form-control" formControlName="bairro" required placeholder="Bairro dos Esquecidos">
    <label for="bairro" class="form-label"><span class="text-danger">*</span>Bairro</label>

    <div *ngIf="bairro.invalid && formDir.submitted" class="alert alert-danger">
      <p>O campo é obrigatório</p>
    </div>
  </div>

  <div class="col-md-6 form-floating mb-3">
    <input type="text" class="form-control" formControlName="cidade" required placeholder="Piedade">
    <label for="cidade" class="form-label"><span class="text-danger">*</span>Cidade</label>

    <div *ngIf="cidade.invalid && formDir.submitted" class="alert alert-danger">
      <p>O campo é obrigatório</p>
    </div>
  </div>

  <div class="col-md-4 form-floating mb-3">
    <input type="text" class="form-control" formControlName="estado" required placeholder="estado">
    <label for="estado" class="form-label"><span class="text-danger">*</span>Estado</label>
    <!-- <select formControlName="estado" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select> -->

    <div *ngIf="estado.invalid && formDir.submitted" class="alert alert-danger">
      <p>O campo é obrigatório</p>
    </div>
  </div>

  <div class="col-md-2 form-floating mb-3">
    <input type="text" class="form-control" formControlName="cep" required placeholder="#####-###">
    <label for="cep" class="form-label"><span class="text-danger">*</span>CEP <span
        class="fs-6 fst-italic fw-lighter">sem pontos</span></label>

    <div *ngIf="cep.invalid && formDir.submitted" class="alert alert-danger">
      <p *ngIf="cep.errors?.['required']">O campo é obrigatório</p>
      <p *ngIf="cep.errors?.['pattern']">O campo não pode ter pontos (.) e deve ter o traço (-). Ex.: 00000-000</p>
    </div>
  </div>

  <div class="col-md-6 form-floating mb-3">
    <input type="email" class="form-control" formControlName="email" required placeholder="zeninguem@tolos.org">
    <label for="email" class="form-label"><span class="text-danger">*</span>Email</label>

    <div *ngIf="email.invalid && formDir.submitted" class="alert alert-danger">
      <p *ngIf="email.errors?.['required']">O campo é obrigatório</p>
      <p *ngIf="email.errors?.['email']">O campo deve ser um email válido</p>
    </div>
  </div>

  <div class="col-md-6 form-floating mb-3">
    <input type="date" class="form-control" formControlName="data_nascimento">
    <label for="data_nascimento" class="form-label"><span class="text-danger">*</span>Data de Nascimento</label>

    <div *ngIf="data_nascimento.invalid && formDir.submitted" class="alert alert-danger">
      <p>O campo é obrigatório</p>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">{{ btnText }}</button>
  </div>
</form>
